
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <link rel="stylesheet" href="{{ MEDIA_URL }}/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="{{ MEDIA_URL }}/blueprint/print.css" type="text/css" media="print">
    <!--[if lt IE 8]><link rel="stylesheet" href="{{ MEDIA_URL }}/blueprint/ie.css" type="{{ MEDIA_URL }}/css" media="screen, projection"><![endif]-->
    {% block extrahead %}
    {% endblock %}
    <title>Annotation Project</title>
</head>
<body>
    <div class="container">
       <div class="span-24 last">
        {% block headerinfo %}
        <img src="{{ MEDIA_URL }}/logo.jpg" width="50" height="50">
        <h1>Annotation Project</h1>
        {%  endblock %}
        </div>
        <div class="span-20">
            <h2>{%  block subtitle %}Home{% endblock %}</h2>
            {% block content %}
            <p>This website is to facilitate the annotation of various HIV-1 mutations and their relations to interactions.  A database has been created which indexes the HIV-1 Human Interaction database and the articles that it cites.  I then used a regular-expression technique to extract all of the sentences which reference point mutations.  These sentences are displayed to an annotator to verify the relevant information.</p>
	        {% endblock %}
        </div>
        <div class="span-4 last">
            {% block navigation %}
            <h2>Navigation</h2>
            <ul>
            <li><a href="{% url LabelMutation  %}">Start Labeling!</a></li>
            <li><a href="{% url stats  %}">Labeling Statistics</a></li>
            <li><a href="{% url mutation_list  %}">List Mutations</a></li>
            <li><a href="{% url mutation_search %}">Search Mutations</a></li>
            </ul>

            {% endblock %}
			{% block login %}
			{% if user.is_authenticated %}
			<p>Logged in as: <i>{{ user.username }}</i></p>
			<p><a href="{% url logout %}">logout</a></p>
			{% else %}
			<p>Not logged in. Go <a href="{% url login %}">here</a> to login.<p>
			{% endif %}
			{% endblock %}
			<p><a href="{% url admin:index %}">Admin Site</a></p>
        </div>
        <div class="span-24 last">
            {% block footer %}
<p>Created by Will Dampier</p>
<p>June 2010, wnd22 at drexel dot edu</p>
            {% endblock %}
        </div>
       </div>
</body>
</html>