{% extends "base.html" %}

{% block content %}
{% if has_next %}
<h4><a href="?page={{ previous }}">Previous Page</a></h4>
{% endif %}
<table>
{% for mut in object_list %}
<tr>
<td><a href="{{ mut.get_absolute_url }}">{{ mut.Mut }}</a></td>
<td>{{ mut.Gene.Name|default:"Unknown" }}</td>
{% if mut.Descriptions %}
<td>{% for desc in mut.Descriptions.all %}{{ desc.Slug }}{% endfor %}</td>
{% else %}
<td>No Descriptions!</td>
{% endif %}
{% if mut.Interaction %}
<td>{{ mut.GetEffect.Slug|default:"Unlabeled" }}</td>
<td>{{ mut.Interaction.latest.HIVGene.Name|default:"None" }}</td>
<td>{{ mut.Interaction.latest.InteractionType.Type|default:"None" }}</td>
<td>{{ mut.Interaction.latest.HumanGene.Name|default:"None" }}</td>
{% else %}
<td>Mutation does not effect any Interactions</td>
{% endif %}
</tr>
{% endfor %}
</table>
{% if has_next %}
<h4><a href="?page={{ previous }}">Previous Page</a></h4>
{% endif %}
{% if has_next %}
<h4><a href="?page={{ next }}">Next</a></h4>
{% endif %}


{% endblock %}