{% extends "base.html" %}

{% block content %}
{% if has_next %}
<h4><a href="?page={{ previous }}">Previous Page</a></h4>
{% endif %}
<table>
{% for mut in object_list %}
<tr>
<td><a href="{{ mut.GetLabelUrl }}">{{ mut.Mut }}</a></td>
<td>{{ mut.Gene.Name }}</td>
<td>{{ mut.GetEffect.Slug }}</td>
<td>{{ mut.Interaction.latest.HIVGene.Name }}</td>
<td>{{ mut.Interaction.latest.InteractionType.Type }}</td>
<td>{{ mut.Interaction.latest.HumanGene.Name }}</td>
</tr>
{% endfor %}
</table>
{% if has_next %}
<h4><a href="?page={{ previous }}">Previous Page</a></h4>
{% endif %}
{% if has_next %}
<h4><a href="?page={{ next }}">Next</a></h4>
{% endif %}


{% endblock %}