{% extends "base.html" %}

{% block content %}
<p>This form can be used to search the mutation list. Cut & Paste a list of genes and mutations. Use the Entrez-ID, start and stop positions in csv format.</p>
<form action="" method="post" >{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit"/>
</form>
{% if good_lines %}
<h3>Results</h3>
<table border="10" >
<thead>
{% for field in field_names %}
<th>{{ field }}</th>
{% endfor %}
</thead>
{% for line in good_lines %}
<tr>
{% for item in line %}
<td>{% if item %}{{ item|safe }}{% endif %}</td>
{% endfor %}
</tr>
{% endfor %}
</table>
{% endif %}
{% endblock %}