{% extends "base.html" %}


{% block subtitle %}Mutation Detail{% endblock %}

{% block content %}
<h4>{{ object.Mut }}</h4>

<p>Gene: {{ object.Gene.Name|default:"Unknown!!" }}</p>

<h3>Effects</h3>
{% for desc in object.Descriptions.all.distinct %}
<li>{{ desc.Slug }}</li>
{% empty %}
<p>No descriptions yet!</p>
{% endfor %}
<p></p>
<h3>Articles</h3>
{% for sent in object.sentence_set.all %}
<h4>{{ sent.Article.GetTitle }}</h4>
<p><a href="{{ sent.Article.get_absolute_url }}">{{ sent.Article.PMID }}</a></p>
<p>{{ sent.Text }}</p>
{% endfor %}

{% if object.Gene %}
{% else %}
<p>This mutation is UNLABELED.  Help us out and go here to <a href="{{ object.GetLabelUrl }}">label it</a>!</p>
{% endif %}

{% block TagForm %}
<p>Click <a href="{% url mutation_tag object_id=object.id %}">here</a> to update the descriptions!</p>
{% endblock %}

{% endblock %}